<nav aria-label="pager" class="pagy_nav pagination" role="navigation">
  <% if pagy.prev -%>
  <%= link_to '前の50件',
      sakuhin_index_pages_path(id_page: "#{@id}#{pagy.prev}", format: :html),
      class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline",
      rel: "prev",
      'aria-label': "previous" %>
  <% else -%>
  <span class="prev disabled"><!-- 前の50件 --></span>
  <% end -%>
  <span class="px-1">&nbsp;</span>
  ページ:
<% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if item.is_a?(Integer) -%>
  <%= link_to item,
      sakuhin_index_pages_path(id_page: "#{@id}#{item}", format: :html),
      class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %>
<%   elsif item.is_a?(String)  -%>
  <span class="text-2xl"><%= item %></span>
<%   elsif item == :gap        -%>
  <span class="page gap"><%== pagy_t('pagy.nav.gap') %></span>
<%   end -%>
<% end -%>
<% if pagy.next -%>
  <span class="px-1">&nbsp;</span>
  <%= link_to '次の50件',
      sakuhin_index_pages_path(id_page: "#{@id}#{pagy.next}", format: :html),
      class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline",
      rel: "next",
      'aria-label': "next" %>
<% else -%>
  <span class="next disabled"><!-- 次の50件 --></span>
<% end -%>
</nav>
