<%= render ::LayoutComponent.new(title: '青空文庫', bgcolor: 'bg-white-100') do -%>
<div id="app" class="container mx-auto max-w-6xl py-2">
  <div class="flex">
    <img src="/images/top_logo.png">
    <div class="flex justify-end h-10 py-2 bg-[#000063] text-white border border-y-gray-500 w-full">
      <div class="px-2 underline">メイン</div>
      <div class="px-2 underline">お知らせ</div>
      <div class="px-2 underline">別館</div>
      <div class="px-2 underline">資料</div>
      <div class="px-2 underline">運営</div>
    </div>
  </div>

  <h1 class="flex justify-center h-10 py-2 text-xl font-semibold text-gray-900 w-full">
    (仮)トップページ
  </h1>

  <p>
    <a href="/index_pages/index_top.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      →総合インデックス
    </a>
  </p>
  <p>
    <a href="/index_pages/index_all.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      →登録全作家インデックス
    </a>
  </p>
  <p>
    <a href="/index_pages/whatsnew1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      →新着情報
    </a>
  </p>
  <p>
    <a href="/soramoyou/soramoyouindex.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      →そらもよう
    </a>
    &nbsp;最終更新日: <%= latest_news_entry.published_on %>
  </p>
  <div class="px-12 py-5">
    最新公開作品：<%= new_works_published_on %>
    <ol class="list-decimal">
      <% new_works.each do |work|  %>
      <li>
        <%= link_to work.title,
            card_path(person_id: work.card_person_id, card_id: work.id, format: :html),
            class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %>
        <%= work.subtitle %>
      </li>
      <% end %>
    </ol>
  </div>
  <div>
    <p>歩みの記録</p>
    <ul>
      <%- topics.each do |news_entry| -%>
      <li><%= news_entry.published_on %> <%= news_entry.title %></li>
      <%- end -%>
    </ul>
  </div>

  <hr class="border-gray-400">
  <p class="text-center">
    収録作品数：<%= works_count %>（著作権なし：<%= works_copyright_count %>、著作権あり：<%= works_noncopyright_count %>）
  </p>
  <hr class="border-gray-400">

  <footer class="pt-3 pb-14">
    <div>
      <span class="pr-3">
        ●
        <a class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" href="/index.html">トップ</a>
      </span>
    </div>
  </footer>
</div>
<!-- generated at: <%= Time.zone.now %> -->
<%- end -%>
