<%= render LayoutComponent.new(title: 'そらもよう | 青空文庫', bgcolor: 'bg-white-100') do -%>
<div id="app" class="container mx-auto max-w-5xl">
  <div id="top" name="top">&nbsp;</div>

  <header class="flex items-center justify-between">
    <a href="/" class="md:hidden flex justify-between px-2">
    <img src="/images/top_logo.png" alt="Logo" class="h-8 w-8">
  </a>
    <span class="hidden md:flex">&nbsp;</span>
  </header>

  <h1 class="flex justify-center bg-blue-800 h-12 border-y-gray-500 mb-10"><span class="lg:w-1/3 align-middle text-center text-2xl font-semibold bg-white">そらもよう</span></h1>

  <% news_entries.each do |news_entry| %>
  <h2 class="w-full flex justify-center h-8 my-4 font-semibold">
    <div class="w-1/4 px-4 py-1 bg-gray-300"><a name="000523">
        <%= news_entry.published_on.strftime('%Y年%m月%d日') %></a>
    </div>
    <div class="w-3/4 px-4 py-1 bg-yellow-100"><%= news_entry.title %></div>
  </h2>

  <div class="prose prose-nonpreflight">
    <%= sanitize(news_entry.body.gsub(/\r?\n/, '<br />'), tags: %w[a b blockquote br dd div dl dt embed hr i img li ol small strong ul], attributes: %w[href target src width height type pluginspage style]) %>
  </div>
  <% end %>

  <div class="text-right py-4">
    <a class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" href="#top">▲</a>
  </div>

  <hr class="border-gray-400">

  <div class="text-center">
    <% (BEGIN_YEAR...year).each do |year| %>
    <%= link_to "#{year}年のそらもよう",
                soramoyou_year_path(year: year, format: :html),
                class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %>
    <br>
    <% end %>
  </div>

  <div>
    <a class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" href="/index.html">トップページへ</a>
  </div>
</div>
<%- end -%>
